@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@200;300;400;500&family=Sriracha&display=swap');


  :root {
    --fonte-padrao:'arial, verdana, helvetica, sans-serif';
    --fonte-destaque: 'Fira Sans Extra Condensed', sans-serif, 'Sriracha', cursive;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    font-size: 1.05em
  }

  html, body {
    min-height: 100vh;
    background-color: rgb(169, 164, 125);
    font-family: var(--fonte-padrao);
  }

  header {
    background-color: rgb(200, 159, 36);
    color: rgb(0, 0, 0);
    text-align: center;
  }

  header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-destaque);
    font-size: 10vw;
  }

  header > p {
    padding-bottom: 50px;
  }

  header a, footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
  }

  header a:hover, footer a:hover {
     text-decoration: underline;
  }

  section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 100px;
    font-family: var(--fonte-padrao);
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: rgb(249, 249, 249);
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.449);
    color: rgb(0, 0, 0);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.525);
    background-size: cover;
    background-attachment: fixed;

}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.725);
}

section#img01 {
    background-image: url('../imagens/mermaid-pictures-4hyk86zqupb1xrr3.jpg');
    background-position: center;

}

section#img02 {
    background-image: url('../imagens/mermaid-pictures-6jxqktte57gxo5dq.jpg');
    background-position: right center;
}

section#img03 {
    background-image: url('../imagens/the-little-mermaid-ariel-and-flounder-cb7g3q7truw72lxk.jpg');
    background-position: right center;
}

section#img04 {
    background-image: url('../imagens/the-little-mermaid-and-prince-eric-o2vg7h71f6z761q8.jpg');
    background-position: right center;
}

footer {
    background-color: rgb(200, 159, 36);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}